body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  width: 100%; 
  margin-bottom: 30px;
}

.header h1 {
  font-size: 80px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
  font-family: "JetBrains Mono",monospace;
}
.container {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding-top: 0.1px;
}
.blue { color: #4285f4; } 
.red { color: #ea4335; } 
.yellow { color: #fbbc05; }
.green { color: #34a853; }
.results-container,
.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.search-box { 
  display: flex;
  justify-content: center;
  margin-bottom: 30px; 
}
.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.search-bar {
  width: 850px;
  height: 40px; 
  padding: 7px;
  margin-bottom: 20px;
  border: 1px solid #dfe1e5;
  border-radius: 22px; 
  box-shadow: none;
  font-family: "JetBrains Mono",monospace;
  font-size: 22px;
  padding-left: 20px;
}
.search-button {
  width: 135px;
  height: 36px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius:22px;
  color: #5f6368;
  margin-right: 4px;
  font-size: 22px;
  font-family: "JetBrains Mono",monospace;
  cursor: pointer;
}
.search-button:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: #f0f0f0;
  border: 1px solid #dadce0;
  color: #202124;
}
.search-button:active {
  background-color: #e8eaed;
}
h2 {
  color: #202124;
  font-size: 24px;
  margin-bottom: 20px;
}

.results-list {
  margin-top: 20px;
}

.result-item {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.result-item {
  border: 1px solid #dddddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.result-title {
  color: #1a0dab;
  font-size: 18px;
  text-decoration: none;
}

.result-title:hover {
  text-decoration: underline;
}

.result-domain {
  color: #006621;
  font-size: 14px;
}

.result-snippet {
  font-size: 14px;
  line-height: 1.6;
}

.title-name {
  text-decoration: none;
}


.button-1-container {
  position: absolute;
  text-align: right;
  display: flow;
  margin-top: 30px;
  right: 10px;
}

.button-1 {
align-items: center;
appearance: none;
background-color: #FCFCFD;
border-radius: 4px;
border-width: 0;
box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
box-sizing: border-box;
color: #36395A;
cursor: pointer;
display: inline-flex;
font-family: "JetBrains Mono",monospace;
height: 32px;
justify-content: center;
line-height: 1;
list-style: none;
overflow: hidden;
padding-left: 16px;
padding-right: 16px;
position: relative;
text-align: left;
text-decoration: none;
transition: box-shadow .15s,transform .15s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
will-change: box-shadow,transform;
font-size: 18px;
}

.button-1:focus {
box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-1:hover {
box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
transform: translateY(-2px);
}

.button-1:active {
box-shadow: #D6D6E7 0 3px 7px inset;
transform: translateY(2px);
}


.button-2-container {
  position: relative;
  text-align: center;
  display: ruby-text;
}

.button-2 {
align-items: center;
appearance: none;
background-color: #FCFCFD;
border-radius: 4px;
border-width: 0;
box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
box-sizing: border-box;
color: #36395A;
cursor: pointer;
display: inline-flex;
font-family: "JetBrains Mono",monospace;
height: 32px;
justify-content: center;
line-height: 1;
list-style: none;
overflow: hidden;
padding-left: 16px;
padding-right: 16px;
position: relative;
text-align: left;
text-decoration: none;
transition: box-shadow .15s,transform .15s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
will-change: box-shadow,transform;
font-size: 18px;
}

.button-2:focus {
box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-2:hover {
box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
transform: translateY(-2px);
}

.button-2:active {
box-shadow: #D6D6E7 0 3px 7px inset;
transform: translateY(2px);
}

.history-title{
  text-align:center;
  margin-bottom:16px;
  margin-top:46px;
  font-size:1.5em;
}
.query-history {
  text-align: -webkit-center;
  width:100%;
  margin-top:20px;
  font-family: "JetBrains Mono",monospace;
}
.query-history table{
  width:50%;
  border-collapse:collapse;
  margin-left:auto;
  margin-right:auto;
}
.query-history th{
  background-color:#f2f2f2;
  text-align:center;
  padding:8px;
  border-bottom:1px solid #ddd;
}
.query-history td{
  padding:8px;
  text-align:center;
  border-bottom:1px solid #ddd;
  font-size:1.2m;
}
.query-item{
  display:block;
  margin-bottom:5px;
}
.timestamp{
  color:#777;
  font-size:0.85em;
  margin-left:5px;
}

form[class="regular-form"] {
  max-width: 600px;
  font-family: "JetBrains Mono",monospace;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-text {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.webtrek-logo{
  height: 317px;
  width: 950px;
}

.webtrek-font{
  height: 99px;
  width: 500px;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the video is behind other content */
  opacity: 1; /* Adjust the opacity as desired */
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the video is behind other content */
  opacity: 0.5; /* Adjust the opacity as desired */
}

tbody {
  background-color: white; /* Change this to the desired background color */
}