<!DOCTYPE html>
<html>
<head>
    <title>Web Scraper</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <h2>Web Scraper</h2>
    <a href="{{ url_for('scrapper') }}"><button>Go to Scraper</button></a>
    <form id="search-bar" method="post">
        <label for="query">Enter Query:</label><br>
        <input type="text" id="query" name="query" required><br>
        <button type="submit" id="search">Search</button>
    </form>
    <label for="words">Final words: {{words}}</label><br>
    <label for="data">URLs: {{urls}}</label><br>
</body>
</html>
