<!DOCTYPE html>
<html>
<head>
    <title>WebTrek - The Search Engine</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>WebTrek - The Search Engine</h2>
    <div class="button-1-container">
        <a href="{{ url_for('scrapper') }}"><button class="button-1">Go to Scraper</button></a>
        <a href="{{ url_for('history') }}"><button class="button-1">History</button></a>
    </div>
    <form id="search-bar" class="regular-form" method="post">
        <label for="query">Enter Query:</label><br>
        <input type="text" id="query" name="query" required><br>
        <button type="submit" id="search" class="submit-button">Search</button>
    </form>
    <!-- <label for="words">Final words: {{words}}</label><br> -->
    <!-- <label for="data">URLs: {{urls}}</label><br> -->
    <div class="query-history">
        <table style="border-spacing: 1px;">
            <thead>
                <tr>
                    <th>Search results</th>
                </tr>
            </thead>
            <tbody>
                {% for title, url in title_url_pairs %}
                <tr>
                    <td style="padding: 0px;">
                        <ul style="margin: 1px;">
                            <li><a href="{{ url }}" target="_blank">{{ title }} ({{ url}})</a></li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
